    
.login-content{
        margin: 50px auto;
        width: 500px; 
        text-align: center;
}



    .demo-content {
        border: 1px solid #000000;
        height: auto;
        margin: 50px auto;
        width: 500px;
    }

        .new-item {
            margin: 10px;
            padding: 10px;
            width: 458px;
        }

    .items {
        width: 100%;
    }

    .items-container {
        width: 100%;
        height: 350px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .item-text {
        padding: 10px;
    }


    .item-check{
        padding: 10px 10px 6px;
    }

    .item-remove {
        text-decoration: underline;
        cursor: pointer;
        width: 70px;
    }
